@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


::-moz-selection { /* Selection do firefox 1? */
  color: cyan;
  background: crimson;
}
::-webkit-selection { /* webkit?? */
  color: cyan;
  background: crimson;
}
::selection { /* Edge 12, Firefox 62, Safari 1, Chrome 1, IE 9, Opera 9 */
  color: cyan;
  background: crimson;
}
